@charset "utf-8";

body {
	font-family: helvetica, arial, sans-serif;
	background: url(background.jpg) no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

/* CSS Document*/
#headersection1 {
	text-align: center;
	font-size: 2.5em;
}

.quotes {
	text-align: center;
	font-size: 1.25em;
	font-style: italic;
	width: 40%;
	margin-left: 30%;
	margin-right:30%;
}

#footer {
	position: absolute;
	width: 100%;
	text-align: right;
	top: 0px;
	right: 5px;
	font-size: 1em;
	font-weight: bold;
}

a:link {
	color:#000000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color:#000000;
	text-decoration: none;
}

#shuffle {
	background: transparent;
	border: none !important;
	width: 10%;
	margin-left: 45%;
	margin-right: 45%;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
}

#shuffle:focus {
	outline: none;
}